Source: qmltermwidget
Section: libs
Priority: optional
Maintainer: Debian UBports Team <team+ubports@tracker.debian.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           Gürkan Myczko <gurkan@phys.ethz.ch>,
Build-Depends: debhelper-compat (= 13),
               cmake,
               libgles-dev,
               linguist-qt6,
               qt6-base-dev,
               qt6-base-private-dev,
               qt6-declarative-private-dev,
               qt6-5compat-dev,
               pkg-kde-tools,
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/Swordfish90/qmltermwidget
Vcs-Git: https://salsa.debian.org/ubports-team/qmltermwidget.git
Vcs-Browser: https://salsa.debian.org/ubports-team/qmltermwidget/

Package: qml6-module-termwidget
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Breaks: qml6-module-qmltermwidget,
Replaces: qml6-module-qmltermwidget,
Description: Terminal Widget QML module
 This project is a QML port of qtermwidget. It is written to be as close
 as possible to the upstream project in order to make cooperation
 possible.
 .
 At the moment this plugin is powering cool-retro-term and the
 lomiri-terminal-app.
 .
 This package contains the QML module and also a simple test application.
